:root {
  --text0: #222222;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  color: var(--text0);
  height: 100%;
  background: rgb(213,213,213);
  background: linear-gradient(172deg, rgba(213,213,213,1) 0%, rgba(203,203,203,1) 50%, rgba(157,157,157,1) 100%);
}